body {
  background-color: hsl(240, 17%, 24%);
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; 
  font-family: Georgia, serif;
}

html{
  height: 100%;
  width: 100%;
}

#myCanvas1 {
  border: 1px solid black;
  background-image: url("https://thumbs.dreamstime.com/b/suspicious-man-14107363.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}